/* Cover global style */
.el-upload-dragger {
    background-color: var(--el-color-info-light-9);
    padding: 120px 20px;
}

.el-aside {
    width: 150px;
}

.el-card {
    border-radius: 10px;
    border: 0px;
}

.is-always-shadow {
    box-shadow: none !important;
}

.el-tabs__item {
    margin-right: 32px;
    font-size: 18px;
    line-height: 48px;
}